* {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.header {
  display: flex;
}

.udacity-logo {
    /*needs to align left*/
}

.myname {
    width: 50%;
    text-align: right;
    
}

.blurb {
    width: 50%;
    text-align: right;
}

.hr {
    /*horizontal rule - this needs margin work*/
    color: gray;
    font-weight: bolder;
    max-width: 960px;
    padding: 20px 0px 20px 0px;


}

/* This doesn't seem to work for what I need
.flex-container {
    justify-content: center;
} */


.main-image {
    max-width: 100%;
    justify-content: space-around;
}

.featured-heading-text {
    font-size: 1.5em;
    color: gray;
}

.image {
    max-width: 100%;
}

.work-image {
    width: 320px;
}
